*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-notifications{
  position: fixed;
  left: 50%;
  z-index: 99999;
  height: 100px;
  width:clamp(400px, 100%, 280px);
  transform: translateX(-50%);
}
.notification{ 
  position: relative;
  margin: auto;
  width: clamp(400px, 100%, 280px);
  height: 68px;
  display: flex;
  border-radius: 8px;
  gap:8px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  top:30px;
  strong{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
  }
  p{
    text-overflow: ellipsis;
      /* Body/body 2 */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
  }
}
.closeIcon{
  box-sizing: content-box;
  height: 25px;
  width: 25px;
  padding: 10px;
  cursor: pointer;
}
.cont-prin{
  display: flex;
  gap:10px;
  justify-content: flex-start;
  align-items: center;
}